.button {
    width: 140px;
    height: 40px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 20px;
}

.cardContainer {
    margin: auto 40%;
}

.info{
    margin-left: 5vw;
    margin-bottom: 10px;
}

.card{
    font-size: 100px;
    padding-top: 60px;
    margin-right: 150px;
}

.playerCard {
    padding: 0 20px;
    outline: 2px solid gray;
    width: 180px;
    height: 320px;
    font-size: 30px;
    font-weight: bold;
}
